
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
/*General Style*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* display: flex; */
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    min-height: 100vh;
    
    background-color: rgba(248, 248, 248, 1); 
    color: rgba(85, 85, 85);
    width: 100%;
    min-height: 100vh;
    /* transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease; */
}

.box-shadow {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);
}
.left{
    text-align: left;
}
.righty{
    text-align: right;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}
.blue{
    color: rgba(20, 83, 136, 1);
}

.top-bar {
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    /* position: relative; */
    padding-left: 40px;
    padding-right: 40px;
    z-index: 30;
   
}

.top-content {
    /* background-color: red; */
    height: 80px;
    width: 150px;
    padding: 25px 5px;
    display: inline-block;

}

.top-content .toggler {

    height: 30px;
    width: 30px;
    padding-top: 2px;
    /* background-color: red; */
    border: 1px solid transparent;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    /* z-index: 11; */
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;



}
.top-content .toggler:hover{
    transform: scale(1.1);
}

.top-content .toggler .nav {
    width: 23px;
    height: 2px;
    background-color: rgb(114, 114, 114);
    position: relative;
    border-radius: 50%;


}

.top-content .toggler .nav::before {
    content: '';
    top: 7px;
    height: 2px;
    width: 23px;
    background-color: rgb(114, 114, 114);
    position: absolute;
    border-radius: 50%;
    

}

.top-content .toggler .nav::after {
    content: '';
    top: -7px;
    height: 2px;
    width: 23px;
    border-radius: 50%;
    background-color:rgb(114, 114, 114);
    position: absolute;

}

.top-content .brand {
    position: absolute;
    /* background-color: red; */
    margin: 5px 40px;
}

.top-content .brand img {
    padding-top: 5px;
    position: relative;
    height: auto;
    width: 100px;
}
.right{
    /* background-color: red; */
    height: 60px;
    /* width: 204px; */
    margin-right: 20px;
    float: right;
    display: flex;
    margin-top: 10px;
    text-align: center;
    /* right: 0; */
}

.right .arrow{
    /* background-color: aqua; */
    width: 40px;
    font-size: 20px;
    color: rgb(114, 114, 114);
    position: relative;
    /* position: relative; */
    display: inline-block;
    padding: 0 8px;
    margin-right:8px;
    -webkit-transition: all 0.3s ease;
    transition: alls ease;

}
.right .arrow .fa,
.right .box .fa,
.right .bell .fa
{ 
top: 32%;
left: 27%;
position: absolute;
/* padding: 0 8px; */
}
.right .box{
    /* background-color: saddlebrown; */
    width: 40px;
    font-size: 20px;
    color:rgb(114, 114, 114);
    position: relative;
    padding: 0 8px;
    margin-right: 8px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.box .list::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 45%;
    width:10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(45deg);
}
.box .list{
    visibility: hidden;
    opacity: 0;
    font-family:'Nunito', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    position: absolute;
    left: -80px;
    top: 115%;
    background-color:rgba(255, 255, 255, 1);
    padding: 20px 10px;
    width: 200px;
    border-radius: 10px;

    
}
.right .box:hover .list{
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    visibility: visible;
     opacity: 1;
    /* -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; */
}
.box .list ul .fle1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    /* margin-bottom: 50px; */

}
.box .list ul .fle2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    margin-top: 35px;
    /* margin-top: 20px; */

}
.box .list ul li{
    list-style: none;
    /* padding-top: 25px ; */
    margin:0 10px;
    /* display: inline-block; */
    width: 50%;
    /* padding: 0 18px; */
    /* padding: ; */
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* color: red; */
    /* background-color: firebrick;    */
}
.box .list ul li i{
    font-size: 20px;
    /* margin-right: 10px; */
    /* margin-lef/t: 10px; */
    /* font-weight: 200; */
    transition: .5s;
color: rgb(114, 114, 114);
}

.box .list ul li a{
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    margin-top: 1px;
    color: rgba(85, 85, 85, 1);
}


.right .bell{
    /* background-color: gray; */
    width: 40px;
    font-size: 20px;
    color: rgb(114, 114, 114);
    position: relative;
    padding: 0 8px;
    margin-right:8px;
}
.right .photo{
    width: 48px;
    height: 48px;
    /* background-color: green; */
 left: 12px;
 position: relative;
  margin-top: 5px;  

}
.right .photo img{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    border: 2px solid rgb(114, 114, 114);
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: opacity 0.2s;
}
.photo .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    width:10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(45deg);
}
.photo .menu{
   visibility: hidden;
    font-family:'Nunito', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    position: absolute;
    right: 0px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 20px;
    width: 256px;
    border-radius: 10px;
    transition: opacity 0.2s;
    opacity: 0;
}
.right .photo:hover .menu{
    visibility: visible;
     opacity: 1;
     transition: all 0.4s ease-in-out;
     -webkit-transition: all 0.4s ease-in-out;
    /* -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; */
}


.photo .menu h3{
    /* width: 70%; */
    text-align: left;
    font-size: 14px;
    padding-bottom: 20px;
    /* font-weight: bolder; */
    font-weight: 700;
    color: rgba(85, 85, 85, 1);
    line-height: 20px;
}
.photo .menu h3 span{
    font-size: 14px;
    font-weight:500;
}
hr{
    position: absolute;
    width: 100%;
  color: rgba(238, 238, 238, 1);  
  background-color: rgba(238, 238, 238, 1);  
    left: 0;
}
.photo .menu ul li{
    list-style: none;
    padding-top: 25px ;
    /* margin-bottom: 1px; */
    display: flex;
    align-items: center;
   
    
}
.photo .menu ul li:hover a,
.photo .menu ul li:hover i,
.box .list ul li:hover a,
.box .list ul li:hover i{
color: rgba(20, 83, 136, 1);
}

.photo .menu ul li i{
    font-size: 20px;
    margin-right: 10px;
    /* font-weight: 200; */
    transition: .5s;
color: rgb(114, 114, 114);
}

.photo .menu ul li a{
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 400;
    
    color: rgba(85, 85, 85, 1);
}
.menu .tip{
    padding-bottom: 20px;
}











/* Aside */
.aside {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    margin-top: 80px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.16);
    left: 0;
    
    position: fixed;
    /* position: absolute; */
    height: 100%;
    width: 100px;
   z-index: 20;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.aside .nav {
    /* background-color: red; */
    list-style: none;
    text-align: center;
    height: 100%;

}
.aside .dash{
    margin-top: 3px;
    text-align: center;
display: block;
    width:84px ;
    height: 14px;
    /* background-color: red; */
}
.aside .nav li{
    height: 70px;
    
    padding: 15px 8px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);

}
.aside .nav li:hover a{
 color: rgba(20, 83, 136, 1);

}
.aside .nav li:hover .fa,
.right .arrow .fa:hover,
.right .box .fa:hover,
.right .bell .fa:hover { 
    /* background-color: red; */
    color: rgba(20, 83, 136, 1);

   }

.aside .nav li a{
    font-weight: 500;
    font-size: 13px;
    color: rgba(85, 85, 85, 1);
    font-family: 'Montserrat', sans-serif;
}
.aside .nav li a .fa {
 /* background-color: red; */
 font-size: 16px;
 color: rgb(114, 114, 114);
}

/* main */
.board{
    background-color: rgba(248, 248, 248, 1); 
    top: 80px;
   position: relative;
margin-left:100px;
min-height: 88vh;
padding-left:40px;
padding-right: 40px;
padding-top: 50px;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
}
.board .cap{
  display: block;
  padding: 2px 0;
}
h1{
    font-family:     'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;   
    display: inline-block;  
}
p{
    font-family:'Nunito', sans-serif;
font-size: 14px;
}
.cap span{
    font-family:   'Nunito', sans-serif;
    font-weight: 700;
}
/* FLEX */
.flex-container{
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    margin-top: 18px;
    /* width: 100%; */
   
}
.flex{
    font-family:'Nunito', sans-serif;
     
    background-color:rgba(255, 255, 255, 1) ;
    margin-right: 30px;
    width: 100%;
    height: auto;
    padding: 0px 0;
    border-radius: 10px;
    text-align: center;
    padding: 35px 22px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   
    /* margin-bottom: 10px; */
}
 .four{
    margin-right: 0px;
    padding: 20px 22px;
    /* padding-top: 30px; */
    
}
.four h{
    font-size: 20px;
}
.four p span{
    font-size: 13px;
    font-weight: 400;
}


.flex .fa,.fa-solid {
    
    font-size: 33px;
    margin-bottom: 10px;
}
.flex h2{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: rgba(85, 85, 85, 1);
}

.flex p{
    margin-top: 26px;
    font-size: 30px;
    /* margin-bottom: 10px; */
}
.flex span{
    color: rgba(85, 85, 85, 1);
    font-size: 14px;
    font-weight: 300;
}
.flex .toggler {
padding: 12px;
   padding-bottom: 0;
    /* background-color: red; */
    border: 1px solid transparent; 
    
   display: inline-block;
    position: relative;
 



}
.flex:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

 .flex .nav {
    width: 9px;
    height: 25px;
    bottom: 0;
    background-color:  rgba(20, 83, 136, 1);
    position: relative;


}

.flex .nav::before {
    content: '';
    left:12px ;
    /* top: 8px; */
    bottom: 0;
    height: 34px;
    width:9px;
    background-color: rgba(20, 83, 136, 1);
    position: absolute;

}

.flex .nav::after {
    content: '';
    left: -12px;
    bottom: 0;
    height: 14px;
    width: 9px;
    background-color:  rgba(20, 83, 136, 1);
    position: absolute;

}
/* Post */

.point{
display: flex;
flex-direction: row;
flex: 0 0 100%;
margin-top: 20px;
flex: 0 0 100%;


}
.post{
    font-family:'Nunito', sans-serif;

    background-color:rgba(255, 255, 255, 1) ;
    /* margin-right: 6  0px; */
    width: 100%;
    height: auto;
padding: 20px;
    border-radius: 10px;
    /* text-align: center; */
    /* padding: 35px 22px; */
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right:15px;

   
}
 .star{
    margin-right: 0px;
      
}
.post h1{
    font-weight: 700;

    font-size: 20px;
    /* background-color: red; */
    display: block;
}
table{
    margin-top: 12px;
    flex: 0 0 50%;
}
table, th, td{
    /* border:1px solid rgba(238, 238, 238, 1); */

        padding: 10px;
    border-collapse: collapse;
    font-family:'Nunito', sans-serif;
    /* text-align: center; */
}
.hover tr:hover :not(th){
    background-color:rgb(249, 249, 249) ;
}


th{
    /* background-color: red; */
    padding-right: 50px;
    /* padding-left: 0; */
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom:1px solid rgba(238, 238, 238, 1);
}
tr{
    border-bottom:1px solid rgba(238, 238, 238, 1);
}
.border-transperent{
    /* background-color: dodgerblue; */
    border-bottom: transparent;
}

.case{
    /* background-color: red; */
    /* text-align: right; */
    float: right;
    font-size: 13px;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid ;
    padding: 0px 6px;
    /* margin-right: 51px; */
    text-transform: uppercase;
    /* display: inline-block; */
    /* padding: 0 50px; */

}
.shift{
    /* background-color: red; */
    margin-right: 51px;
}
.side{
    padding:20px 0 ;
}

 .side a{
    color: rgba(20, 83, 136, 1);
    font-size: 14px;
    font-weight: 700;

 }
 .side a:hover{
    color: rgb(5, 42, 73);

 }
 .node{
    /* background-color: red; */
    text-transform: uppercase;
    letter-spacing: -0.6px;
    /* font-weight: 200; */
 }
 .side p{
    font-weight: 700;
 }
 .ann{
    margin-right: 12px;
    /* background-color: red; */
 }
 .btn{
    background-color: #e7332b;
    display: inline-block;
    margin: 20px 0;
    border-radius:999px;
    padding: 8px 20px;
    
 }
 .overflow{
    padding-bottom: 0px;
    overflow-x: auto;
 }
 .btn a{
    color: #fff;
    font-weight: 700;
 }
 .btn:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(12, 50, 82, 1);
 }
 .margin-top{
    margin-top: 30px;
    /* flex: 0 0 50%;/ */
 }
 .pad{
    padding:5px 4px;
    /* background-color: red; */
 }
 .center{
    text-align: center;
 }
 .more span{
    content: '';
    padding-left: 3px;
word-spacing: 20px;
 }
 .more{
    padding-right: 14px;
 }
 .left p{
    font-size: 12px;
    font-weight: 400
 }
 .more p{
    font-size: 14px;
 }
 .green{
    color: rgba(40, 167, 69, 1);
    font-weight: 700;
 }
 .en{
    padding: 15px 10px;
 }


 .footer{
    background-color: transparent;
    /* background-color: red; */
padding:  0px;
   
 }
 

.foot {
    border: 1px solid rgba(221, 221, 221, 1);
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
 }
 .footer .righty{
    padding: 18px 0;
 }
 .mix a{
    margin-right:-0px;
    margin-left:-10px;
    color: rgba(20, 83, 136, 1);
    /* background-color: red; */
 }
 .none{
    margin-top: 20px;
 }

 /* dropdown */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
  top: 200%;
    
   
}

 .box .dropdown-content::after {
    content: "";
    position: absolute;
    top: -200%;
    left: 50%;
    /* margin-left: -5px; */
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent red transparent  ;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content a:hover {background-color: #f1f1f1}

.box:hover .dropdown-content {
    display: block;
}

/* Tooltiptext */
.arrow .tooltiptext {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(85, 85, 85);
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;
    top: 190%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.2s;
}
.bell .tooltiptext  {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    visibility: hidden;
    width: 370px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(85, 85, 85);
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    padding: 12px 0px;
    position: absolute;
    z-index: 1;
    top: 300%;
    left: 50%;
    margin-left: -280px;
    opacity: 0;
    transition: opacity 0.2s;
   

}

.arrow .tooltiptext::after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
}

.bell .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 130%;  /* At the top of the tooltip */
    left: 75%;
    margin-left: -5px;
   
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(238, 236, 236) transparent;
}
.arrow:hover .tooltiptext,
.bell:hover .tooltiptext  {
    visibility: visible;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    opacity: 1;
}
body.active  .aside{
    left: -100px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}
body.active .board{
    margin-left: 0;
    /* width: 100%; */
    padding-left: 10px;

    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}



@media screen and (max-width: 1020px) {
   .flex-container {
   flex-direction: column;
   /* gap: 20px; */
  
    }
    .flex{
        margin-bottom: 20px;
    }
    .post{
        margin-bottom: 20px;
    }
    .flex:last-child,
    .post:last-child{
        margin-bottom: 0;
    }
    .point{
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;  
        /* gap: 20px;   */
        }
.right .arrow{
    display: none;
}
  

}


    
    @media screen and (max-width: 767px){
      .board{
        padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      }
      .top-bar{
        padding: 10px;
      }
    }

    @media screen and (max-width: 639px){
.board{
    margin-left: 0;
    padding-left: 20px;
    
}

body.active .board{
    margin-left:0;
    /* width: 100%; */
    padding-left: 20px;
}



    }
@media screen and (max-width: 470px){
   .bell .tooltiptext{
    width: 280px;
    left: 75px;
   }
}

